@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2a2b32; /* Darker background for the track */
}

::-webkit-scrollbar-thumb {
  background: #343541; /* The color you specified */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a4b55; /* Slightly lighter on hover */
}
